<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <!-- 
            Notice that the script tag comes last. We do this to make sure scripts are loaded after page has been rendered 
        -->
        <script src="{{ url_for('static', filename='js/form.js') }}"></script>
            
    </body>
</html>